body {
    font-size: 12px;
}

header {
    width: calc(100vw - (100vw - 100%));
    height: 10vh;
    background-color: rgba(225, 205, 165, 0.5);
    display: block;
    margin: 0;
}

.mainContainer {
    border: 1px;
    background-color: whitesmoke;
}

nav {
    width: calc(20vw - (20vw - 20%));
    min-height: 85vh;
    background-color: rgba(235, 200, 200, 0.5);
    display: block;
    margin: 0;
    padding: 0;
    float: left;
}

main {
    width: calc(80vw - (80vw - 80%));
    height: 85vh;
    background-color: rgba(185, 205, 205, 0.5);
    display: block;
    float: right;
    margin: 0;
    padding: 0;
}

footer {
    width: calc(100vw - (100vw - 100%));
    height: 5vh;
    background-color: rgba(232, 241, 205, 0.5);
    display: block;
    margin: 0;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
    margin: 0;
}

.chart-box {
    float : left;
    margin : 0 0 5px 10px;
}

.description-box {
    float : right;
    margin : 0 0 5px 10px;
}

.param-input-label {
    width : 150px;
    height : 1.5rem;
    vertical-align: middle;
}
.param-input {
    width : 15px;
    float : right;
}